body {
    padding: 10px;
}

.error_message {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.image {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.listing {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.listing h3 {
    color: #333;
    margin-bottom: 10px;
}

.listing p {
    margin-bottom: 5px;
    color: #666;
}

.listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listing h3.listing-closed {
    color: red;
    font-weight: bold;
}

.watchlist-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
}

.watchlist-item h4 {
    margin-top: 0;
}

.watchlist-item a {
    text-decoration: none;
    color: #007bff;
}

.watchlist-item a:hover {
    text-decoration: underline;
}

.watchlist-item img {
    margin-bottom: 10px;
}
