{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div class="error_message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">

        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input class="form-control" type="number" name="starting_bid" placeholder="Starting bid in dollars (e.g., 25.00)" step="0.01" min="0" required>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="url" name="image_url" placeholder="Link for Image">
        </div>
        <input class="btn btn-primary" type="submit" value="Create Listing">
    </form>

{% endblock %}

    <!-- 
    title = models.CharField(max_length=64)
    description = models.CharField(max_length=64)
    starting_bid  = models.IntegerField()
    current_bid = models.IntegerField()
    image_url = models.URLField() 
    -->