{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        {% if not listing.closed %}
        <div class="listing">
            <h3><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h3>
            <p>{{ listing.description }}</p>
            <p>Starting Bid: ${{ listing.starting_bid|intcomma }}</p>
            {% if listing.bid_count == 0 %}
                <p class="current_bid">Current Bid: No bids yet</p>
            {% else %}
                <p class="current_bid">Current Bid: ${{ listing.current_bid|intcomma }}</p>
            {% endif %}
            <p>Created by: {{ listing.owner.username }}</p>
            <p>Category: {{ listing.get_category_display }}</p>
            {% if listing.image_url %}
                <img class="image" src="{{ listing.image_url }}" alt="{{ listing.title }}" width="" height="">
            {% endif %}
        </div>
        {% endif %}
    {% empty %}
        <p>No active listings available.</p>
    {% endfor %}

{% endblock %}