{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

    {% if watchlist %}
        {% for item in watchlist %}
            <div class="watchlist-item">
                <h4><a href="{% url 'listing' item.id %}">{{ item.title }}</a></h4>
                {% if item.description %}
                    <p>{{ item.description }}</p>
                {% endif %}
                {% if item.image_url %}
                    <img class="image" src="{{ item.image_url }}" alt="{{ item.title }}" width="" height="">
                {% endif %}
                <p>Current Price: ${{ item.current_bid }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>You have no items in your watchlist.</p>
    {% endif %}

{% endblock %}